*{
  font-family: 'Work Sans', sans-serif;
}

.Branding-wrap-container {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}

.Branding-wrap-container .Branding-content-tab {
  display: none;
  flex-direction: row;
  gap: 1.25rem;
  border-radius: 0.3125rem;
  padding: 1.875rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.Branding-wrap-container .Branding-content-tab.active {
  display: flex;
}

.Branding-content-tab .Branding-content-image {
  flex: 1;
  min-width: 300px;
}

.Branding-content-image .Branding-image {
  width: 100%;
  height: auto;
  min-height: 34rem;
  border-radius: 0.3125rem;
  object-fit: cover;
}

.Branding-content-tab .Branding-content-text {
  flex: 1;
  min-width: 300px;
}

.Branding-content-text .Branding-title {
  color: #ec1d24;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  font-size: 39px;
  margin: 0 0 0.5rem 0;
}

.Branding-content-text .Branding-subtitle {
  color: #ec1d24;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  text-align: justify;
  margin: 0 0 0.5rem 0;
}

.Branding-content-text .Branding-process-heading {
  color: #3a3a3a;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: justify;
  margin: 0 0 0.5rem 0;
}

.Branding-content-text .Branding-list {
  padding-left: 1.25rem;
  font-size: 15px;
  text-align: justify;
  margin: 0 0 0.5rem 0;
}

.Branding-list li {
  margin-bottom: 0.1875rem;
}

.Branding-content-text .Branding-highlight {
  font-weight: 500;
  
  font-size: 25px;
  text-align: justify;
  margin: 0 0 0.5rem 0;
  color: #ec1d24;
}

.Branding-content-text .Branding-text {
  font-size: 15px;
  color: #333333;
  text-align: justify;
  margin: 0 0 0.5rem 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .Branding-wrap-container {
      padding: 1.5rem;
  }

  .Branding-wrap-container .Branding-content-tab {
      padding: 1.25rem;
      gap: 1rem;
  }

  .Branding-content-tab .Branding-content-image {
      min-width: 250px;
  }

  .Branding-content-image .Branding-image {
      min-height: 30rem;
  }

  .Branding-content-tab .Branding-content-text {
      min-width: 250px;
  }

  .Branding-content-text .Branding-title {
      font-size: 30px;
      text-align: left;
  }

  .Branding-content-text .Branding-subtitle {
      font-size: 20px;
  }

  .Branding-content-text .Branding-process-heading {
      font-size: 17px;
  }

  .Branding-content-text .Branding-list {
      font-size: 15px;
  }

  .Branding-content-text .Branding-highlight {
      font-size: 20px;
  }

  .Branding-content-text .Branding-text {
      font-size: 15px;
  }
}

@media (max-width: 480px) {
  .Branding-wrap-container {
      padding: 0.20rem;
  }

  .Branding-wrap-container .Branding-content-tab {
      padding: 0.25em;
      gap: 0.75rem;
  }

  .Branding-content-tab .Branding-content-image {
      min-width: 100%;
  }

  .tab-container .tab.active {
      background: #DD0000;
      color: black;
  }

  .tab-container .tab:not(.active) {
      background: white;
      color: black;
  }

  .tab-container .tab:hover {
      background: #f0f0f0;
  }

  .tab-container .tab.active:hover {
      background: #DD0000;
  }

  .Branding-content-image .Branding-image {
      min-height: 15rem;
  }

  .Branding-content-tab .Branding-content-text {
      min-width: 100%;
  }

  .Branding-content-text .Branding-title {
      font-size: 27px;
  }

  .Branding-content-text .Branding-subtitle {
      font-size: 20px;
  }

  .Branding-content-text .Branding-process-heading {
      font-size: 17px;
  }

  .Branding-content-text .Branding-list {
      font-size: 15px;
  }

  .Branding-content-text .Branding-highlight {
      font-size: 20px;
  }

  .Branding-content-text .Branding-text {
      font-size:15px;
  }
}
@media (max-width: 640px) and (max-height: 360px) {
  .Branding-wrap-container .Branding-content-tab.active {
    display: grid;
  }
}

@media (max-width: 712px) and (max-height: 1138px) {
  .Branding-wrap-container .Branding-content-tab.active {
    display: grid;
  }
}

@media (max-width: 800px) and (max-height: 1280px) {
  .Branding-wrap-container .Branding-content-tab.active {
    display: grid;
  }
}

@media (max-width: 768px) and (max-height: 1024px) {
  .Branding-wrap-container .Branding-content-tab.active {
    display: grid;
  }
}

@media (max-width: 820px) and (max-height: 1180px) {
  .Branding-wrap-container .Branding-content-tab.active {
    display: grid;
  }
}

@media (max-width: 912px) and (max-height: 1368px) {
  .Branding-wrap-container .Branding-content-tab.active {
    display: grid;
  }
}

@media (max-width: 853px) and (max-height: 1280px) {
  .Branding-wrap-container .Branding-content-tab.active {
    display: grid;
  }
}

@media (max-width: 1024px) and (max-height: 1366px) {
  .Branding-wrap-container .Branding-content-tab.active {
    display: grid;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .customProject-container .customProject-tabContent.active {
    display: grid;
  }
}