.banner {
  min-height: 18.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.banner .title {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 1.25rem;
  font-weight: 400;
  margin-left: 50px;
}

.banner .title .title-highlight {
  color: #ec1d24;
}

.banner .tab-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  width: 100%;
  max-width: 37.5rem;
  position: absolute;
  bottom: 0;
}

.tab-container .tab {
  padding: 8px 15px;
  cursor: pointer;
  background: white;
  color: black;
  margin-left: -15px;
  z-index: 1;
  position: relative;
  border-radius: 5px 5px 0 0;
  transition: background 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  text-align: center;
  
}

.tab-container .tab.active {
  background: #DD0000;
  color: black;
}

.tab-container .tab:hover {
  background: #f0f0f0;
}

.tab-container .tab.active:hover {
  background: #DD0000;
}

/* Responsive Design */
@media (min-width: 769px) {
  .banner .title {
    text-align: left;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
 

}

@media (max-width: 768px) {
  .banner {
    min-height: 15rem;
  }

  .banner .title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .banner .tab-container {
    max-width: 100%;
    flex-wrap: wrap;
  }

  .tab-container .tab {
    padding: 8px 15px;
    margin-left: -10px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .banner {
    min-height: 20rem;
  }

  .banner .title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    margin-left: 10px;
  }

  .tab-container .tab {
    padding: 8px 12px;
    margin-left: -10px;
    font-size: 0.8rem;
    border-radius: 5px 5px 0 0;
    transition: background 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    text-align: center;
  }
}