.chatbot-widget {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

.chatbot-toggle {
  
  border: none;
  border-radius: 50%;
  width: 10rem;
  height: 7rem;
  cursor: pointer;
  
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.chatbot-toggle img {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
  .chatbot-toggle {
    width: 4.5rem;
    height: 4.5rem;
    bottom: 0.75rem;
    right: 0.75rem;
  }

  .chatbot-toggle img {
    max-width: 60%;
    max-height: 60%;
  }
}